In [6]:
# Import Dependencies
import pandas as pd

In [8]:
# Read the data into a Pandas Dataframe
crowdfunding_data = pd.ExcelFile("crowdfunding.xlsx")

# Get the sheets names
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [12]:
# Get the crowdfunding_info from the crowdfunding_info worksheet
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name = "crowdfunding_info")

crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
858,1439,"Ayala, Crawford and Taylor",Realigned 5thgeneration knowledge user,4000,2778,failed,35,US,USD,1613455200,1642399200,True,False,food/food trucks
808,3098,"Harris, Medina and Mitchell",Enhanced regional flexibility,5200,1583,failed,19,US,USD,1609567200,1620709200,False,False,food/food trucks
512,975,Williams-Walsh,Organized explicit core,9100,12678,successful,239,US,USD,1593147600,1613196000,False,True,games/video games
976,356,"Huerta, Roberts and Dickerson",Self-enabling value-added artificial intelligence,4000,12886,successful,140,US,USD,1614492000,1628398800,False,True,theater/plays
874,338,Chung-Nguyen,Managed discrete parallelism,40200,139468,successful,4358,US,USD,1584766800,1615096800,False,True,photography/photography books

In [18]:
# Get the contact_info form the contact_info worksheet
# Increase the width of the column
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name ='contact_info', header = 3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [15]:
# Verify the crowdfunding data
crowdfunding_info_df.sample(5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
187,1215,Fox Group,Horizontal transitional paradigm,60200,138384,successful,1442,CA,CAD,1591938000,1613800800,False,True,film & video/shorts
107,2957,"Tucker, Schmidt and Reid",Multi-layered encompassing installation,3500,6527,successful,86,US,USD,1620363600,1640671200,False,True,theater/plays
114,2431,Harper-Davis,Robust heuristic encoding,1900,13816,successful,126,US,USD,1625202000,1640930400,False,True,technology/wearables
966,3087,Davis and Sons,Seamless solution-oriented capacity,1700,13468,successful,245,US,USD,1602133200,1629694800,False,False,theater/plays
783,988,"Vega, Chan and Carney",Down-sized systematic utilization,7400,10451,successful,138,US,USD,1618722000,1637215200,False,False,music/rock

In [14]:
# Verify the contact  data
contact_info_df.sample(5)

139     {"contact_id": 4351, "name": "Kathleen Solimena", "email": "kathleen.solimena@wallace.biz"}
827         {"contact_id": 5786, "name": "Diethard Salgado", "email": "diethard.salgado@gmail.com"}
171  {"contact_id": 2114, "name": "Timoteo Bolnbach", "email": "timoteo.bolnbach@laboratorios.com"}
926              {"contact_id": 3646, "name": "Mirco Nicolini", "email": "mirco.nicolini@blin.net"}
145               {"contact_id": 1797, "name": "Rodney Hamon", "email": "rodney.hamon@hotmail.com"}

In [16]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [19]:
# Get a brief summary fo the contact_info DataFrame. 
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB